#!/usr/bin/env bash

# Load Devbox tools
eval "$(devbox generate direnv --print-envrc)"

# Homelab credentials
export KUBECONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/homelab/kubeconfig"
export TALOSCONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/homelab/talosconfig"

# SOPS age key
export SOPS_AGE_KEY_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/sops/age/keys.txt"

# Optional machine-specific overrides
source_env_if_exists .envrc.local
